<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#example-navbar-collapse">
                <span class="sr-only">切换导航</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">评选<small>【{{ user_name }}】</small></a>
        </div>
        <div class="collapse navbar-collapse" id="example-navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/review">评选管理</a></li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                        部门及员工
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/user">管理</a></li>
                        <li class="divider"></li>
                        <li><a href="/add">添加</a></li>
                    </ul>
                </li>
                <li><a href="javascript:void(0)">{{ user_email }}</a></li>
                <li><a href="/logout" style="color: red">退出</a></li>

            </ul>
        </div>
    </div>
</nav>