<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1.0, user-scalable=no">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/bs/bootstrap.min.css">
    <link rel="stylesheet" href="../static/bs/login.css">
    <link rel="stylesheet" href="../static/bs/login.css">
    <style>
        @media screen and (min-width: 900px) {
            form {
                position: fixed;
                top: 20%;
                left: 50%;
                transform: translate(-50%);
                min-width: 400px;
            }
        }

        @media screen and (max-width: 900px) {
            html {
                overflow: auto;
            }

            .row {
                background-color: #000;
            }
        }
    </style>
</head>
<body class="style-3">
<canvas></canvas>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-push-8" id="form_container">
            <!-- Start Sign In Form -->
            <form action="login" class="fh5co-form animate-box" data-animate-effect="fadeInRight" method="post">
                {% csrf_token %}
                <h2>{{ title }}
                    <small>用户登录</small>
                </h2>

                <div class="form-group">
                    <input name="username" type="text" class="form-control" id="username" placeholder="账号|User"
                           autocomplete="off" value=""  {% comment %}readonly="readonly"{% endcomment %}>
                </div>
                <div class="form-group">
                    <input name="password" type="password" class="form-control" id="password" placeholder="密码|Password"
                           autocomplete="off" value="">
                </div>
                <div class="form-group">
                    <input type="submit" value="登录" class="btn btn-primary" style="height: 35px">

                </div>
                <div class="form-group">
                    <p style="color: #ee0002">{{ login_info }}</p>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- jQuery -->
<script src="../static/bs/jquery-3.2.1.min.js"></script>

<script src="../static/bs/change.js"></script>


</body>
</html>

